@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>

<address>
    Kalendar obaveza za studente<br />
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:nikolapatafta2@gmail.com">nikolapatafta2@gmail.com</a><br />
</address>
